*{
    outline: px solid azure;
    box-sizing: border-box;
}
:root{
    --blue: rgb(52, 1, 162);
    --lightblue: rgb(222, 245, 252);
}
body{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}
#main-doc{
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    height: 100vh;
    overflow: scroll;
}
#navbar{
   
    background-color: rgb(222, 245, 252);
    width: 25%;
    min-width: 20rem;
    height: 100vh;
    overflow:scroll;


}
#burger-button{
    display: none;
}
#navbar header{
    padding: 1rem 0 1rem 1rem;
    font-size: 2rem;
    background-color: var(--blue);
    color:white;

}
#navbar ul{
    padding:0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#navbar li{
    display: inline-block;
    border-bottom: 4px solid rgb(255, 255, 255);
    padding: 1rem;
    list-style-type: none;
    width: 100%;
    background-color:var;
    color: var(--blue);
    
}
#navbar li:hover{
    background-color: var(--blue);
    color: white;
}
#navbar a{
    text-decoration: none;
    color: inherit;
}
.main-section header{
    padding-bottom: 1rem;
    color: var(--blue);
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid
}
code{
    display: block;
    background-color:rgb(222, 245, 252);
    padding: 1rem;
    margin: .8rem;
}
.list-active{
    display:contents;
}

@media screen and (max-width: 650px){
    #burger-button{
        display:inline-block;
        background-color: var(--blue);
        border: none;
        color: white;
        font-size: larger;
        border-radius: 50%;
        

    }
    #burger-button:active{
        background-color:rgb(33, 33, 121);
        
    }
    
    body{
        flex-direction: column;
    }
    #main-doc{
        padding-top: 6rem;
    }
    #navbar{
        width: 100%;
        position: fixed;
        height:fit-content;
    }
    #navbar header{
        display: flex;
        text-align: center;
        justify-content: space-around;
    }
    .burger-menu{
        display: inline-block;
        
    }
    #navbar .list-inactive{
        display: none;
        
    }
    #navbar li:last-child{
        border-bottom: none;
    }
    #navbar ul{
        height:fit-content;
        margin-bottom: 0;
        margin-top: 0;
    }

   

}